#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define abc_shft &mrl RSHIFT 0
#define ARCHIVE &kp LC(LS(N1))
#define TEAMSMUTE &kp LC(LS(M))

&caps_word {
    continue-list = <MINUS UNDERSCORE BKSP DEL LEFT RIGHT>;
};

/ { 
    behaviors {
        mg: mom_toggle_layers {
            compatible = "zmk,behavior-hold-tap";
            label = "MOM_TOGGLE_LAYERS";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&mo>, <&tog>;
        };
        mrl: mod-reset-layers {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_RESET_LAYERS";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&kp>, <&to>;
        };
        hm: home_mod_both {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_MOD_BOTH";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        hl: mode_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_MOD_LEFT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <3 4 5 11 12 13 14 15 21 22 23 24 25 26 27>;
        };
        hr: mode_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_MOD_RIGHT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 6 7 8 9 10 16 17 18 19 20 26 27>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_sys_sticky {
            timeout-ms = <70>;
            key-positions = <11 12>;
            bindings = <&sl 3>;
            layers = <0 2>;
        };
        combo_sys {
            timeout-ms = <70>;
            key-positions = <11 13>;
            bindings = <&tog 3>;
            layers = <0 2>;
        };
        combo_num_sticky {
            timeout-ms = <70>;
            key-positions = <12 13>;
            bindings = <&sl 2>;
            layers = <0>;
        };
        combo_backspace {
            timeout-ms = <70>;
            key-positions = <22 23>;
            bindings = <&kp BKSP>;
            layers = <0>;
        };
        combo_enter {
            timeout-ms = <70>;
            key-positions = <18 19>;
            bindings = <&kp ENTER>;
            layers = <0>;
        };
    };
 
    keymap {
        compatible = "zmk,keymap";
        //       0  1  2    3  4  5  
        // 6  7  8  9  10   11 12 13 14 15
        // 16 17 18 19 20   21 22 23 24 25
        //             26   27
        abc {
            bindings = <
                                  &hl LWIN W  &hl LALT E  &hl LCTL R  &hr RCTL U  &hr RALT I  &hr RWIN O
                &kp Q    &kp A    &kp S       &kp D       &kp F       &kp H       &kp N       &kp L      &kp P    &kp J
                &kp Z    &kp T    &kp X       &kp C       &kp V       &kp B       &kp M       &kp G      &kp Y    &kp K
                                                          &mg 1 1     &hm RSHIFT SPACE
            >;
        };

        nav {
            bindings = <
                                    &caps_word  &kp LC(C)  &kp LC(V)  &kp HOME   &kp UP    &kp END  
                &kp ESC  &kp ENTER  &kt LSHFT   &kt LALT   &kt LCTRL  &kp LEFT   &kp DOWN  &kp RIGHT &kp BKSP  ARCHIVE 
                &none    &kp TAB    &kp LC(X)   &kp LC(Z)  &kp LC(Y)  &kp LA(F4) &kp PG_UP &kp PG_DN &kp DEL   TEAMSMUTE
                                                           &tog 2     abc_shft
            >;
        };
    
        num {
            bindings = <
                                  &hl LWIN N3  &hl LALT N2  &hl LCTL N1  &hr RCTL N6  &hr RALT N7  &hr RWIN N8
                &kp ENTER &kp N4  &kp F3       &kp F2       &kp F1       &kp F7       &kp F8       &kp F9      &kp N9  &kp BKSP
                &none     &kp N5  &kp F6       &kp F5       &kp F4       &kp F10      &kp F11      &kp F12     &kp N0  &none
                                                            &to 0        abc_shft
            >;
        };    
    
        sym {
            bindings = <
                                        &kp DOT    &kp SQT   &kp MINUS    &kp C_BRI_UP  &kp C_VOL_UP  &kp C_MUTE
                &none        &kp SLASH  &kp COMMA  &kp SEMI  &kp EQUAL    &kp C_BRI_DN  &kp C_VOL_DN  &none      &bt BT_NXT  &none
                &bootloader  &kp BSLH   &kp LBKT   &kp RBKT  &kp GRAVE    &none         &none         &none      &bt BT_CLR  &bootloader
                                                             &mrl LCTL 0  abc_shft
            >;
        };
    };
};
